* {
	box-sizing: border-box;
}

.keyboard {
	display: flex;
	flex-direction: column;
	gap: 7px;
	max-width: 650px;
	min-width: 650px;
	width: 100%;
}

.keyboard__row {
	display: flex;
	justify-content: space-between;
	gap: 5px;
}

.key {
	cursor: pointer;
	border: none;
	padding: 6px 12px;
	border: 2px solid transparent;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-property: border-color, color, background-color;
}

.key_active {
	background-color: rgb(7, 101, 194);
	/* border-color: transparent; */
}

.key:hover {
	background-color: white;
	border-color: black;
	color: black;
}

.key_main {
	background-color: grey;
	color: white;
	flex: 1;
}

.key_extra {
	background-color: black;
	color: white;
}

.textarea {
	width: 650px;
	height: 150px;
	resize: none;
	outline: none;
	border: 2.5px solid black;
}

